.divider {
  width: 8px;
  height: auto;
  display: inline-block;
}

.remove_link {
  text-decoration: none;
}

.show_group {
  border: 5px solid #eee;
  border-radius: 25px;
  box-shadow: 0 8px 9px #ccc;
  width: 55%;
  margin: 5% auto;
}

.show_title {
  color: white;
  text-align: left;
  margin: 10px 26px;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  font-weight: lighter;

  animation-name: moveInLeft;
	animation-duration: 1s;
	animation-timing-function: ease-out;
}

.show_categories {
  color: #a790a5;
  text-transform: uppercase;
  margin: 10px 26px;
  text-align: left;
  font-weight: lighter;
  animation: moveInRight 1s ease-out;
}

.show_content {
  text-align: justify;
  margin: 10px 26px;
}

.show_buttons {
  margin: 10px;
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards;
}

@keyframes moveInLeft {
	0% {
		opacity: 0;
		transform: translateX(-100px);
	}
	80% {
		transform: translateX(10px);
	}
	100% {
		opacity: 1;
		transform: translate(0);
	}
}

@keyframes moveInRight {
	0% {
		opacity: 0;
		transform: translateX(100px);
	}
	80% {
		transform: translateX(-10px);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes moveInBottom {
	0% {
		opacity: 0;
		transform: translateY(30px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}